h1 {
    color: purple;
    text-align: center;
}
table {
    border: 3px solid black;
    border-collapse: collapse;
    color:blue;
}
.board {
    height: 100%;
    width: 100%;
}
.cells:hover{
    background-color: white;
}
.cells {
    border: 1px solid black;
    font-size: 5vw;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.board-container {
    width: 80vw;
    height: 80vw;
    padding-left: 10vw;
}
.buttons {
    horiz-align: center;
    padding-top: 5px;
    padding-left: 10vw;
}
.highlight {
    background-color: lightgray;
}
.rows:hover {
    background-color: lightgray;
}
.mod3rows {
    border-top: 3px solid black;
}
.mod3col {
    border-left:3px solid black;
}
.bold {
    font-weight:bold;
    color: black;
}