h1 {
    color: purple;
    text-align: center;
}
table {
    border: 3px solid black;
    border-collapse: collapse;
    color:blue;
}
.cells {
    border: 1px solid black;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.rows {
    border-top: 3px solid black;
}
.col {
    border-left:3px solid black;
}
.bold {
    font-weight:bold;
    color: black;
}