<!doctype html>
<html ng-app="myApp">
  <head>

      <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>

      <script src="js/brain.js"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
<div ng-controller="SuDuoKuController">
  <h1 id="header"> SUDOKU 1v1</h1>
  <table class='board' align='center'>
     <tr ng-class="{'rows':modThree($index)}" ng-repeat="row in board">
        <td class='cells' ng-class="{'col':modThree($index), 'bold':cell.locked}" ng-repeat="cell in row.column" ng-click="CellClick($parent.$index,$index)">{{cell.value}}</td>
     </tr>
  </table>
    <button ng-click="Restart()">Restart</button>
</div>
</body>
</html>